# Roblox Studio files
*.rbxlx
*.rbxlx.lock
*.rbxl
*.rbxl.lock

# Wally
Packages/
ServerPackages/

# Pesde
roblox_packages/
roblox_server_packages/
luau_packages/
lune_packages/

# Selene
roblox.toml

# MacOS file system
*.DS_Store

# Rojo Sourcemap for Luau LSP
sourcemap.json

# Blink
Network.luau